@charset "utf-8";
nav {
	margin-top: 30px;
	width: 450px;
	float: right;
	
}


header {
	
	background-color: #ffffff;
	float: left;
	width: 960px;
}
h1 {
	width: 250px;
	text-align: center;
	float: left;
	color: white;
	font-family: Cambria, "Times", "Times New Roman", serif;
	background-color: #4AAAA5
}

body {
	color: #777777;
	width: 960px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	
}
img {
	float: left;
	margin-right: 26px;
}
section {
	background-image: url(../images/Background-Texture.jpg);
	border: 3px solid #666666;
}
h2 {
	clear: left;
	color: #4aaaa5;
}
aside {
	width: 270px;
	float: right;
	margin-top: 30px;
}

article {
	width: 650px;
	display: inline-block;
}

footer {
	clear: both;
	background-color: #666666;
	color: white;
	font-size: x-small;
	text-align: center;
}
a {
	margin-left: 30px;
}
